@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/*//RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
a,
button,
textarea {
  font: inherit;
}
/*RESET*/

.slider {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 100%;
}

img {
  display: none;
  width: 650px;
}

img.displayImage {
  display: block;
}
